.lead__caption {
    width: 100%;
    text-align: left;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 0;
}
@media screen and (max-width: 1023px) {
    .lead__caption {
        max-width: calc(100% - 24*2px);
    }
}
@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: calc(100% - 16*2px);
    }
}